/adverserial_4dor/
/synthetic_or_generation/dis_background_removal_helpers/saved_models/isnet-general-use.pth
/evaluated_checkpoints.json
/requirements_submission.txt
/synthetic_or_generation/original_crops.zip
/slurm_config.conf
/synthetic_or_generation/original_crops
/.idea
/adaptability_4dor