/adverserial_4dor/
/synthetic_or_generation/dis_background_removal_helpers/saved_models/isnet-general-use.pth
/evaluated_checkpoints.json
/requirements_submission.txt
/synthetic_or_generation/original_crops.zip
/slurm_config.conf
/synthetic_or_generation/original_crops
/.idea
/adaptability_4dor/cementing/negatives/camera01_colorimage-015111.jpg
/adaptability_4dor/cementing/negatives/camera01_colorimage-015171.jpg
/adaptability_4dor/cementing/negatives/camera01_colorimage-015961.jpg
/adaptability_4dor/cementing/negatives/camera01_colorimage-015961-2.jpg
/adaptability_4dor/cementing/negatives/camera01_colorimage-016081.jpg
/adaptability_4dor/cementing/negatives/camera02_colorimage-01041.jpg
/adaptability_4dor/cementing/negatives/camera02_colorimage-009351.jpg
/adaptability_4dor/cementing/negatives/camera02_colorimage-010431.jpg
/adaptability_4dor/cementing/negatives/camera02_colorimage-012081.jpg
/adaptability_4dor/cementing/negatives/camera02_colorimage-012511.jpg
/adaptability_4dor/cementing/negatives/camera02_colorimage-012991.jpg
/adaptability_4dor/cementing/negatives/camera02_colorimage-013141.jpg
/adaptability_4dor/cementing/positives/camera01_colorimage-015111.jpg
/adaptability_4dor/cementing/positives/camera01_colorimage-015111.json
/adaptability_4dor/cementing/positives/camera01_colorimage-015171.jpg
/adaptability_4dor/cementing/positives/camera01_colorimage-015171.json
/adaptability_4dor/cementing/positives/camera01_colorimage-015961.jpg
/adaptability_4dor/cementing/positives/camera01_colorimage-015961.json
/adaptability_4dor/cementing/positives/camera01_colorimage-015961-2.jpg
/adaptability_4dor/cementing/positives/camera01_colorimage-015961-2.json
/adaptability_4dor/cementing/positives/camera01_colorimage-016081.jpg
/adaptability_4dor/cementing/positives/camera01_colorimage-016081.json
/adaptability_4dor/cementing/positives/camera02_colorimage-01041.jpg
/adaptability_4dor/cementing/positives/camera02_colorimage-01041.json
/adaptability_4dor/cementing/positives/camera02_colorimage-009351.jpg
/adaptability_4dor/cementing/positives/camera02_colorimage-009351.json
/adaptability_4dor/cementing/positives/camera02_colorimage-010431.jpg
/adaptability_4dor/cementing/positives/camera02_colorimage-010431.json
/adaptability_4dor/cementing/positives/camera02_colorimage-012081.jpg
/adaptability_4dor/cementing/positives/camera02_colorimage-012081.json
/adaptability_4dor/cementing/positives/camera02_colorimage-012511.jpg
/adaptability_4dor/cementing/positives/camera02_colorimage-012511.json
/adaptability_4dor/cementing/positives/camera02_colorimage-012991.jpg
/adaptability_4dor/cementing/positives/camera02_colorimage-012991.json
/adaptability_4dor/cementing/positives/camera02_colorimage-013141.jpg
/adaptability_4dor/cementing/positives/camera02_colorimage-013141.json
/adaptability_4dor/cementing/visual_features/ref_image_1.jpg
/adaptability_4dor/cementing/visual_features/ref_image_1_crop.jpg
/adaptability_4dor/cementing/visual_features/ref_image_1_crop.pt
/adaptability_4dor/cementing/visual_features/ref_image_2.jpg
/adaptability_4dor/cementing/visual_features/ref_image_2_crop.jpg
/adaptability_4dor/cementing/visual_features/ref_image_2_crop.pt
/adaptability_4dor/cementing/visual_features/ref_image_3.jpg
/adaptability_4dor/cementing/visual_features/ref_image_3_crop.jpg
/adaptability_4dor/cementing/visual_features/ref_image_3_crop.pt
/adaptability_4dor/cutting/negatives/camera01_colorimage-010021.jpg
/adaptability_4dor/cutting/negatives/camera01_colorimage-010051.jpg
/adaptability_4dor/cutting/negatives/camera01_colorimage-011881.jpg
/adaptability_4dor/cutting/negatives/camera01_colorimage-015391.jpg
/adaptability_4dor/cutting/negatives/camera01_colorimage-016251.jpg
/adaptability_4dor/cutting/negatives/camera01_colorimage-016731.jpg
/adaptability_4dor/cutting/negatives/camera02_colorimage-009951.jpg
/adaptability_4dor/cutting/negatives/camera02_colorimage-010011.jpg
/adaptability_4dor/cutting/negatives/camera02_colorimage-010021.jpg
/adaptability_4dor/cutting/negatives/camera02_colorimage-012591.jpg
/adaptability_4dor/cutting/negatives/camera02_colorimage-015271.jpg
/adaptability_4dor/cutting/negatives/camera02_colorimage-016281.jpg
/adaptability_4dor/cutting/positives/camera01_colorimage-010021.jpg
/adaptability_4dor/cutting/positives/camera01_colorimage-010021.json
/adaptability_4dor/cutting/positives/camera01_colorimage-010051.jpg
/adaptability_4dor/cutting/positives/camera01_colorimage-010051.json
/adaptability_4dor/cutting/positives/camera01_colorimage-011881.jpg
/adaptability_4dor/cutting/positives/camera01_colorimage-011881.json
/adaptability_4dor/cutting/positives/camera01_colorimage-015391.jpg
/adaptability_4dor/cutting/positives/camera01_colorimage-015391.json
/adaptability_4dor/cutting/positives/camera01_colorimage-016251.jpg
/adaptability_4dor/cutting/positives/camera01_colorimage-016251.json
/adaptability_4dor/cutting/positives/camera01_colorimage-016731.jpg
/adaptability_4dor/cutting/positives/camera01_colorimage-016731.json
/adaptability_4dor/cutting/positives/camera02_colorimage-009951.jpg
/adaptability_4dor/cutting/positives/camera02_colorimage-009951.json
/adaptability_4dor/cutting/positives/camera02_colorimage-010011.jpg
/adaptability_4dor/cutting/positives/camera02_colorimage-010011.json
/adaptability_4dor/cutting/positives/camera02_colorimage-010021.jpg
/adaptability_4dor/cutting/positives/camera02_colorimage-010021.json
/adaptability_4dor/cutting/positives/camera02_colorimage-012591.jpg
/adaptability_4dor/cutting/positives/camera02_colorimage-012591.json
/adaptability_4dor/cutting/positives/camera02_colorimage-015271.jpg
/adaptability_4dor/cutting/positives/camera02_colorimage-015271.json
/adaptability_4dor/cutting/positives/camera02_colorimage-016281.jpg
/adaptability_4dor/cutting/positives/camera02_colorimage-016281.json
/adaptability_4dor/cutting/visual_features/ref_image_1.jpg
/adaptability_4dor/cutting/visual_features/ref_image_1_crop.jpg
/adaptability_4dor/cutting/visual_features/ref_image_1_crop.pt
/adaptability_4dor/cutting/visual_features/ref_image_2.jpg
/adaptability_4dor/cutting/visual_features/ref_image_2_crop.jpg
/adaptability_4dor/cutting/visual_features/ref_image_2_crop.pt
/adaptability_4dor/cutting/visual_features/ref_image_3.jpg
/adaptability_4dor/cutting/visual_features/ref_image_3_crop.jpg
/adaptability_4dor/cutting/visual_features/ref_image_3_crop.pt
/adaptability_4dor/drilling/negatives/camera01_colorimage-010431.jpg
/adaptability_4dor/drilling/negatives/camera01_colorimage-011031.jpg
/adaptability_4dor/drilling/negatives/camera01_colorimage-011751.jpg
/adaptability_4dor/drilling/negatives/camera01_colorimage-011841.jpg
/adaptability_4dor/drilling/negatives/camera01_colorimage-012721.jpg
/adaptability_4dor/drilling/negatives/camera01_colorimage-015171.jpg
/adaptability_4dor/drilling/negatives/camera02_colorimage-009951.jpg
/adaptability_4dor/drilling/negatives/camera02_colorimage-010381.jpg
/adaptability_4dor/drilling/negatives/camera02_colorimage-011721.jpg
/adaptability_4dor/drilling/negatives/camera02_colorimage-011841-2.jpg
/adaptability_4dor/drilling/negatives/camera02_colorimage-012841.jpg
/adaptability_4dor/drilling/negatives/camera02_colorimage-012871.jpg
/adaptability_4dor/drilling/positives/camera01_colorimage-010431.jpg
/adaptability_4dor/drilling/positives/camera01_colorimage-010431.json
/adaptability_4dor/drilling/positives/camera01_colorimage-011031.jpg
/adaptability_4dor/drilling/positives/camera01_colorimage-011031.json
/adaptability_4dor/drilling/positives/camera01_colorimage-011751.jpg
/adaptability_4dor/drilling/positives/camera01_colorimage-011751.json
/adaptability_4dor/drilling/positives/camera01_colorimage-011841.jpg
/adaptability_4dor/drilling/positives/camera01_colorimage-011841.json
/adaptability_4dor/drilling/positives/camera01_colorimage-012721.jpg
/adaptability_4dor/drilling/positives/camera01_colorimage-012721.json
/adaptability_4dor/drilling/positives/camera01_colorimage-015171.jpg
/adaptability_4dor/drilling/positives/camera01_colorimage-015171.json
/adaptability_4dor/drilling/positives/camera02_colorimage-009951.jpg
/adaptability_4dor/drilling/positives/camera02_colorimage-009951.json
/adaptability_4dor/drilling/positives/camera02_colorimage-010381.jpg
/adaptability_4dor/drilling/positives/camera02_colorimage-010381.json
/adaptability_4dor/drilling/positives/camera02_colorimage-011721.jpg
/adaptability_4dor/drilling/positives/camera02_colorimage-011721.json
/adaptability_4dor/drilling/positives/camera02_colorimage-011841.jpg
/adaptability_4dor/drilling/positives/camera02_colorimage-011841-2.jpg
/adaptability_4dor/drilling/positives/camera02_colorimage-011841-2.json
/adaptability_4dor/drilling/positives/camera02_colorimage-012841.jpg
/adaptability_4dor/drilling/positives/camera02_colorimage-012841.json
/adaptability_4dor/drilling/positives/camera02_colorimage-012871.jpg
/adaptability_4dor/drilling/positives/camera02_colorimage-012871.json
/adaptability_4dor/drilling/visual_features/ref_image_1.jpg
/adaptability_4dor/drilling/visual_features/ref_image_1_crop.jpg
/adaptability_4dor/drilling/visual_features/ref_image_1_crop.pt
/adaptability_4dor/drilling/visual_features/ref_image_2.jpg
/adaptability_4dor/drilling/visual_features/ref_image_2_crop.jpg
/adaptability_4dor/drilling/visual_features/ref_image_2_crop.pt
/adaptability_4dor/drilling/visual_features/ref_image_3.jpg
/adaptability_4dor/drilling/visual_features/ref_image_3_crop.jpg
/adaptability_4dor/drilling/visual_features/ref_image_3_crop.pt
/adaptability_4dor/hammering/negatives/camera01_colorimage-010561.jpg
/adaptability_4dor/hammering/negatives/camera01_colorimage-011701.jpg
/adaptability_4dor/hammering/negatives/camera01_colorimage-014211.jpg
/adaptability_4dor/hammering/negatives/camera01_colorimage-014461.jpg
/adaptability_4dor/hammering/negatives/camera01_colorimage-014491.jpg
/adaptability_4dor/hammering/negatives/camera01_colorimage-015651.jpg
/adaptability_4dor/hammering/negatives/camera02_colorimage-010341.jpg
/adaptability_4dor/hammering/negatives/camera02_colorimage-013281.jpg
/adaptability_4dor/hammering/negatives/camera02_colorimage-015211.jpg
/adaptability_4dor/hammering/negatives/camera02_colorimage-015361.jpg
/adaptability_4dor/hammering/negatives/camera02_colorimage-016501.jpg
/adaptability_4dor/hammering/negatives/camera02_colorimage-016501-2.jpg
/adaptability_4dor/hammering/positives/camera01_colorimage-010561.jpg
/adaptability_4dor/hammering/positives/camera01_colorimage-010561.json
/adaptability_4dor/hammering/positives/camera01_colorimage-011701.jpg
/adaptability_4dor/hammering/positives/camera01_colorimage-011701.json
/adaptability_4dor/hammering/positives/camera01_colorimage-014211.jpg
/adaptability_4dor/hammering/positives/camera01_colorimage-014211.json
/adaptability_4dor/hammering/positives/camera01_colorimage-014461.jpg
/adaptability_4dor/hammering/positives/camera01_colorimage-014461.json
/adaptability_4dor/hammering/positives/camera01_colorimage-014491.jpg
/adaptability_4dor/hammering/positives/camera01_colorimage-014491.json
/adaptability_4dor/hammering/positives/camera01_colorimage-015651.jpg
/adaptability_4dor/hammering/positives/camera01_colorimage-015651.json
/adaptability_4dor/hammering/positives/camera02_colorimage-010341.jpg
/adaptability_4dor/hammering/positives/camera02_colorimage-010341.json
/adaptability_4dor/hammering/positives/camera02_colorimage-013281.jpg
/adaptability_4dor/hammering/positives/camera02_colorimage-013281.json
/adaptability_4dor/hammering/positives/camera02_colorimage-015211.jpg
/adaptability_4dor/hammering/positives/camera02_colorimage-015211.json
/adaptability_4dor/hammering/positives/camera02_colorimage-015361.jpg
/adaptability_4dor/hammering/positives/camera02_colorimage-015361.json
/adaptability_4dor/hammering/positives/camera02_colorimage-016501.jpg
/adaptability_4dor/hammering/positives/camera02_colorimage-016501.json
/adaptability_4dor/hammering/positives/camera02_colorimage-016501-2.jpg
/adaptability_4dor/hammering/positives/camera02_colorimage-016501-2.json
/adaptability_4dor/hammering/visual_features/ref_image_1.jpg
/adaptability_4dor/hammering/visual_features/ref_image_1_crop.jpg
/adaptability_4dor/hammering/visual_features/ref_image_1_crop.pt
/adaptability_4dor/hammering/visual_features/ref_image_2.jpg
/adaptability_4dor/hammering/visual_features/ref_image_2_crop.jpg
/adaptability_4dor/hammering/visual_features/ref_image_2_crop.pt
/adaptability_4dor/hammering/visual_features/ref_image_3.jpg
/adaptability_4dor/hammering/visual_features/ref_image_3_crop.jpg
/adaptability_4dor/hammering/visual_features/ref_image_3_crop.pt
/adaptability_4dor/kuka/negatives/camera01_colorimage-014791.jpg
/adaptability_4dor/kuka/negatives/camera01_colorimage-015511.jpg
/adaptability_4dor/kuka/negatives/camera01_colorimage-018471.jpg
/adaptability_4dor/kuka/negatives/camera01_colorimage-019921.jpg
/adaptability_4dor/kuka/negatives/camera02_colorimage-009561.jpg
/adaptability_4dor/kuka/negatives/camera02_colorimage-012001.jpg
/adaptability_4dor/kuka/negatives/camera02_colorimage-016941.jpg
/adaptability_4dor/kuka/negatives/camera02_colorimage-018091.jpg
/adaptability_4dor/kuka/negatives/camera02_colorimage-018561.jpg
/adaptability_4dor/kuka/negatives/camera02_colorimage-019141.jpg
/adaptability_4dor/kuka/positives/camera01_colorimage-014791.jpg
/adaptability_4dor/kuka/positives/camera01_colorimage-014791.json
/adaptability_4dor/kuka/positives/camera01_colorimage-015511.jpg
/adaptability_4dor/kuka/positives/camera01_colorimage-015511.json
/adaptability_4dor/kuka/positives/camera01_colorimage-018471.jpg
/adaptability_4dor/kuka/positives/camera01_colorimage-018471.json
/adaptability_4dor/kuka/positives/camera01_colorimage-019921.jpg
/adaptability_4dor/kuka/positives/camera01_colorimage-019921.json
/adaptability_4dor/kuka/positives/camera02_colorimage-009561.jpg
/adaptability_4dor/kuka/positives/camera02_colorimage-009561.json
/adaptability_4dor/kuka/positives/camera02_colorimage-012001.jpg
/adaptability_4dor/kuka/positives/camera02_colorimage-012001.json
/adaptability_4dor/kuka/positives/camera02_colorimage-016941.jpg
/adaptability_4dor/kuka/positives/camera02_colorimage-016941.json
/adaptability_4dor/kuka/positives/camera02_colorimage-018091.jpg
/adaptability_4dor/kuka/positives/camera02_colorimage-018091.json
/adaptability_4dor/kuka/positives/camera02_colorimage-018561.jpg
/adaptability_4dor/kuka/positives/camera02_colorimage-018561.json
/adaptability_4dor/kuka/positives/camera02_colorimage-019141.jpg
/adaptability_4dor/kuka/positives/camera02_colorimage-019141.json
/adaptability_4dor/kuka/visual_features/ref_image.jpg
/adaptability_4dor/kuka/visual_features/ref_image_crop.jpg
/adaptability_4dor/kuka/visual_features/ref_image_crop.pt
/adaptability_4dor/mako/negatives/camera01_colorimage-012061.jpg
/adaptability_4dor/mako/negatives/camera01_colorimage-012201.jpg
/adaptability_4dor/mako/negatives/camera01_colorimage-012321.jpg
/adaptability_4dor/mako/negatives/camera01_colorimage-012861.jpg
/adaptability_4dor/mako/negatives/camera01_colorimage-013381.jpg
/adaptability_4dor/mako/negatives/camera02_colorimage-012061.jpg
/adaptability_4dor/mako/negatives/camera02_colorimage-012201.jpg
/adaptability_4dor/mako/negatives/camera02_colorimage-012771.jpg
/adaptability_4dor/mako/negatives/camera02_colorimage-012771_2.jpg
/adaptability_4dor/mako/negatives/camera02_colorimage-013441.jpg
/adaptability_4dor/mako/positives/camera01_colorimage-012061.jpg
/adaptability_4dor/mako/positives/camera01_colorimage-012061.json
/adaptability_4dor/mako/positives/camera01_colorimage-012201.jpg
/adaptability_4dor/mako/positives/camera01_colorimage-012201.json
/adaptability_4dor/mako/positives/camera01_colorimage-012321.jpg
/adaptability_4dor/mako/positives/camera01_colorimage-012321.json
/adaptability_4dor/mako/positives/camera01_colorimage-012861.jpg
/adaptability_4dor/mako/positives/camera01_colorimage-012861.json
/adaptability_4dor/mako/positives/camera01_colorimage-013381.jpg
/adaptability_4dor/mako/positives/camera01_colorimage-013381.json
/adaptability_4dor/mako/positives/camera02_colorimage-012061.jpg
/adaptability_4dor/mako/positives/camera02_colorimage-012061.json
/adaptability_4dor/mako/positives/camera02_colorimage-012201.jpg
/adaptability_4dor/mako/positives/camera02_colorimage-012201.json
/adaptability_4dor/mako/positives/camera02_colorimage-012771.jpg
/adaptability_4dor/mako/positives/camera02_colorimage-012771.json
/adaptability_4dor/mako/positives/camera02_colorimage-012771_2.jpg
/adaptability_4dor/mako/positives/camera02_colorimage-012771_2.json
/adaptability_4dor/mako/positives/camera02_colorimage-013441.jpg
/adaptability_4dor/mako/positives/camera02_colorimage-013441.json
/adaptability_4dor/mako/visual_features/ref_image.jpg
/adaptability_4dor/mako/visual_features/ref_image_crop.jpg
/adaptability_4dor/mako/visual_features/ref_image_crop.pt
/adaptability_4dor/robotic_sawing/negatives/camera01_colorimage-012061.jpg
/adaptability_4dor/robotic_sawing/negatives/camera01_colorimage-012201.jpg
/adaptability_4dor/robotic_sawing/negatives/camera01_colorimage-012321.jpg
/adaptability_4dor/robotic_sawing/negatives/camera01_colorimage-012861.jpg
/adaptability_4dor/robotic_sawing/negatives/camera01_colorimage-013381.jpg
/adaptability_4dor/robotic_sawing/negatives/camera02_colorimage-012061.jpg
/adaptability_4dor/robotic_sawing/negatives/camera02_colorimage-012201.jpg
/adaptability_4dor/robotic_sawing/negatives/camera02_colorimage-012571.jpg
/adaptability_4dor/robotic_sawing/negatives/camera02_colorimage-012771_2.jpg
/adaptability_4dor/robotic_sawing/negatives/camera02_colorimage-013441.jpg
/adaptability_4dor/robotic_sawing/positives/camera01_colorimage-012061.jpg
/adaptability_4dor/robotic_sawing/positives/camera01_colorimage-012061.json
/adaptability_4dor/robotic_sawing/positives/camera01_colorimage-012201.jpg
/adaptability_4dor/robotic_sawing/positives/camera01_colorimage-012201.json
/adaptability_4dor/robotic_sawing/positives/camera01_colorimage-012321.jpg
/adaptability_4dor/robotic_sawing/positives/camera01_colorimage-012321.json
/adaptability_4dor/robotic_sawing/positives/camera01_colorimage-012861.jpg
/adaptability_4dor/robotic_sawing/positives/camera01_colorimage-012861.json
/adaptability_4dor/robotic_sawing/positives/camera01_colorimage-013381.jpg
/adaptability_4dor/robotic_sawing/positives/camera01_colorimage-013381.json
/adaptability_4dor/robotic_sawing/positives/camera02_colorimage-012061.jpg
/adaptability_4dor/robotic_sawing/positives/camera02_colorimage-012061.json
/adaptability_4dor/robotic_sawing/positives/camera02_colorimage-012201.jpg
/adaptability_4dor/robotic_sawing/positives/camera02_colorimage-012201.json
/adaptability_4dor/robotic_sawing/positives/camera02_colorimage-012571.jpg
/adaptability_4dor/robotic_sawing/positives/camera02_colorimage-012571.json
/adaptability_4dor/robotic_sawing/positives/camera02_colorimage-012771_2.jpg
/adaptability_4dor/robotic_sawing/positives/camera02_colorimage-012771_2.json
/adaptability_4dor/robotic_sawing/positives/camera02_colorimage-013441.jpg
/adaptability_4dor/robotic_sawing/positives/camera02_colorimage-013441.json
/adaptability_4dor/robotic_sawing/visual_features/ref_image.jpg
/adaptability_4dor/robotic_sawing/visual_features/ref_image_crop.jpg
/adaptability_4dor/robotic_sawing/visual_features/ref_image_crop.pt
/adaptability_4dor/sawing/negatives/camera01_colorimage-012031.jpg
/adaptability_4dor/sawing/negatives/camera01_colorimage-012031.json
/adaptability_4dor/sawing/negatives/camera01_colorimage-012061.jpg
/adaptability_4dor/sawing/negatives/camera01_colorimage-012061.json
/adaptability_4dor/sawing/negatives/camera01_colorimage-012541.jpg
/adaptability_4dor/sawing/negatives/camera01_colorimage-012541.json
/adaptability_4dor/sawing/negatives/camera01_colorimage-012801.jpg
/adaptability_4dor/sawing/negatives/camera01_colorimage-012801.json
/adaptability_4dor/sawing/negatives/camera01_colorimage-013051.jpg
/adaptability_4dor/sawing/negatives/camera01_colorimage-013051.json
/adaptability_4dor/sawing/negatives/camera01_colorimage-014151.jpg
/adaptability_4dor/sawing/negatives/camera01_colorimage-014151.json
/adaptability_4dor/sawing/negatives/camera02_colorimage-012171.jpg
/adaptability_4dor/sawing/negatives/camera02_colorimage-012171.json
/adaptability_4dor/sawing/negatives/camera02_colorimage-012261.jpg
/adaptability_4dor/sawing/negatives/camera02_colorimage-012261.json
/adaptability_4dor/sawing/negatives/camera02_colorimage-012711.jpg
/adaptability_4dor/sawing/negatives/camera02_colorimage-012711.json
/adaptability_4dor/sawing/negatives/camera02_colorimage-013221.jpg
/adaptability_4dor/sawing/negatives/camera02_colorimage-013221.json
/adaptability_4dor/sawing/negatives/camera02_colorimage-013381.jpg
/adaptability_4dor/sawing/negatives/camera02_colorimage-013381.json
/adaptability_4dor/sawing/negatives/camera02_colorimage-016021.jpg
/adaptability_4dor/sawing/negatives/camera02_colorimage-016021.json
/adaptability_4dor/sawing/positives/camera01_colorimage-012031.jpg
/adaptability_4dor/sawing/positives/camera01_colorimage-012031.json
/adaptability_4dor/sawing/positives/camera01_colorimage-012061.jpg
/adaptability_4dor/sawing/positives/camera01_colorimage-012061.json
/adaptability_4dor/sawing/positives/camera01_colorimage-012541.jpg
/adaptability_4dor/sawing/positives/camera01_colorimage-012541.json
/adaptability_4dor/sawing/positives/camera01_colorimage-012801.jpg
/adaptability_4dor/sawing/positives/camera01_colorimage-012801.json
/adaptability_4dor/sawing/positives/camera01_colorimage-013051.jpg
/adaptability_4dor/sawing/positives/camera01_colorimage-013051.json
/adaptability_4dor/sawing/positives/camera01_colorimage-014151.jpg
/adaptability_4dor/sawing/positives/camera01_colorimage-014151.json
/adaptability_4dor/sawing/positives/camera02_colorimage-012171.jpg
/adaptability_4dor/sawing/positives/camera02_colorimage-012171.json
/adaptability_4dor/sawing/positives/camera02_colorimage-012261.jpg
/adaptability_4dor/sawing/positives/camera02_colorimage-012261.json
/adaptability_4dor/sawing/positives/camera02_colorimage-012711.jpg
/adaptability_4dor/sawing/positives/camera02_colorimage-012711.json
/adaptability_4dor/sawing/positives/camera02_colorimage-013221.jpg
/adaptability_4dor/sawing/positives/camera02_colorimage-013221.json
/adaptability_4dor/sawing/positives/camera02_colorimage-013381.jpg
/adaptability_4dor/sawing/positives/camera02_colorimage-013381.json
/adaptability_4dor/sawing/positives/camera02_colorimage-016021.jpg
/adaptability_4dor/sawing/positives/camera02_colorimage-016021.json
/adaptability_4dor/sawing/visual_features/ref_image_1.jpg
/adaptability_4dor/sawing/visual_features/ref_image_1_crop.jpg
/adaptability_4dor/sawing/visual_features/ref_image_1_crop.pt
/adaptability_4dor/sawing/visual_features/ref_image_2.jpg
/adaptability_4dor/sawing/visual_features/ref_image_2_crop.jpg
/adaptability_4dor/sawing/visual_features/ref_image_2_crop.pt
/adaptability_4dor/sawing/visual_features/ref_image_3.jpg
/adaptability_4dor/sawing/visual_features/ref_image_3_crop.jpg
/adaptability_4dor/sawing/visual_features/ref_image_3_crop.pt
/adaptability_4dor/suturing/negatives/camera01_colorimage-011881.jpg
/adaptability_4dor/suturing/negatives/camera01_colorimage-014181.jpg
/adaptability_4dor/suturing/negatives/camera01_colorimage-015331.jpg
/adaptability_4dor/suturing/negatives/camera01_colorimage-016581.jpg
/adaptability_4dor/suturing/negatives/camera01_colorimage-017011.jpg
/adaptability_4dor/suturing/negatives/camera02_colorimage-009891.jpg
/adaptability_4dor/suturing/negatives/camera02_colorimage-009891_2.jpg
/adaptability_4dor/suturing/negatives/camera02_colorimage-009951.jpg
/adaptability_4dor/suturing/negatives/camera02_colorimage-010651.jpg
/adaptability_4dor/suturing/negatives/camera02_colorimage-010651_2.jpg
/adaptability_4dor/suturing/negatives/camera02_colorimage-010761.jpg
/adaptability_4dor/suturing/negatives/camera02_colorimage-016981.jpg
/adaptability_4dor/suturing/positives/camera01_colorimage-011881.jpg
/adaptability_4dor/suturing/positives/camera01_colorimage-011881.json
/adaptability_4dor/suturing/positives/camera01_colorimage-014181.jpg
/adaptability_4dor/suturing/positives/camera01_colorimage-014181.json
/adaptability_4dor/suturing/positives/camera01_colorimage-015331.jpg
/adaptability_4dor/suturing/positives/camera01_colorimage-015331.json
/adaptability_4dor/suturing/positives/camera01_colorimage-016581.jpg
/adaptability_4dor/suturing/positives/camera01_colorimage-016581.json
/adaptability_4dor/suturing/positives/camera01_colorimage-017011.jpg
/adaptability_4dor/suturing/positives/camera01_colorimage-017011.json
/adaptability_4dor/suturing/positives/camera02_colorimage-009891.jpg
/adaptability_4dor/suturing/positives/camera02_colorimage-009891.json
/adaptability_4dor/suturing/positives/camera02_colorimage-009891_2.jpg
/adaptability_4dor/suturing/positives/camera02_colorimage-009891_2.json
/adaptability_4dor/suturing/positives/camera02_colorimage-009951.jpg
/adaptability_4dor/suturing/positives/camera02_colorimage-009951.json
/adaptability_4dor/suturing/positives/camera02_colorimage-010651.jpg
/adaptability_4dor/suturing/positives/camera02_colorimage-010651.json
/adaptability_4dor/suturing/positives/camera02_colorimage-010651_2.jpg
/adaptability_4dor/suturing/positives/camera02_colorimage-010651_2.json
/adaptability_4dor/suturing/positives/camera02_colorimage-010761.jpg
/adaptability_4dor/suturing/positives/camera02_colorimage-010761.json
/adaptability_4dor/suturing/positives/camera02_colorimage-016981.jpg
/adaptability_4dor/suturing/positives/camera02_colorimage-016981.json
/adaptability_4dor/suturing/visual_features/ref_image_1.jpg
/adaptability_4dor/suturing/visual_features/ref_image_1_crop.jpg
/adaptability_4dor/suturing/visual_features/ref_image_1_crop.pt
/adaptability_4dor/suturing/visual_features/ref_image_2.jpg
/adaptability_4dor/suturing/visual_features/ref_image_2_crop.jpg
/adaptability_4dor/suturing/visual_features/ref_image_2_crop.pt
/adaptability_4dor/suturing/visual_features/ref_image_3.jpg
/adaptability_4dor/suturing/visual_features/ref_image_3_crop.jpg
/adaptability_4dor/suturing/visual_features/ref_image_3_crop.pt
